
@{
    ViewBag.Title = "Add New Student";
}

<style type="text/css">
    table.tableizer-table {
        font-size: 12px;
        border: 1px solid #CCC;
        font-family: Arial, Helvetica, sans-serif;
    }

    .tableizer-table td {
        padding: 4px;
        margin: 3px;
        border: 1px solid #CCC;
    }

    .tableizer-table th {
        background-color: #104E8B;
        color: #FFF;
        font-weight: bold;
    }
</style>


<table class="table tab-content table-bordered">
    <thead><tr class="tableizer-firstrow"><th>Cust ID</th><th>{{General.entData.cust_id}}</th><th>Name</th><th>{{General.entData.cust_id}}</th><th>&nbsp;</th><th>&nbsp;</th><th>Exposure</th><th>99,99,99,99.99</th><th> (Rs. in Lacs)</th></tr></thead>
    <tbody>
        <tr><td>Pan No.</td><td>AAAAA1234A</td><td>Constitution</td><td>Public Limited Company (Listed / Unlisted)</td><td>&nbsp;</td><td>Branch</td><td>As on</td><td>DD.MMM.YY</td><td>Print</td></tr>
    </tbody>
</table>
<br />
<br />
<table class="table tab-content table-bordered" ">
    <thead><tr class="tableizer-firstrow"><th>Particular</th><th>Details</th><th>&nbsp;</th><th>Limit Details</th><th>Details</th><th>&nbsp;</th><th>&nbsp;</th></tr></thead>
    <tbody>
        <tr><td>Activity</td><td>&nbsp;</td><td>&nbsp;</td><td>Nature</td><td>Limit</td><td>Balance</td><td>Exposure</td></tr>
        <tr><td>Sector (Sub Sector)</td><td>Software (Dev and sale of gaming)</td><td>&nbsp;</td><td>Working Capital</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td>Priority/Non Priority</td><td>&nbsp;</td><td>&nbsp;</td><td>Term Loan</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td>Govt Sponsored</td><td>Y/N/Refer Notes</td><td>&nbsp;</td><td>Bank Guarantee</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td>Industry</td><td>&nbsp;</td><td>&nbsp;</td><td>Letter Of Credit</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td>Incorporation</td><td>DD.MMM.YYYY</td><td>&nbsp;</td><td>PCL</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td>Connection Since</td><td>DD.MMM.YYYY</td><td>&nbsp;</td><td>Bill Purchase</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td>Internal Rating</td><td>FB1,2,3,4,5</td><td>As on DD.MMM.YYYY</td><td>Total</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td>External Rating</td><td>&nbsp;</td><td>As on DD.MMM.YYYY</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td>Inspection comments</td><td>&nbsp;</td><td>Nos</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td>Banking Argmt</td><td>Sole, Multiple, Consortium, Others</td><td>&nbsp;</td><td>Default</td><td>No. of Banks / FI (R-_; UR-_)</td><td>&nbsp;</td><td>As on DD.MMM.YYYY</td></tr>
        <tr><td>If Consortium</td><td>Our share (%age & Rs.)</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td>Lead Bank</td><td>Bank Name / NA</td><td>&nbsp;</td><td>Guarantor / Co-Obligant</td><td>Name</td><td>&nbsp;</td><td>Cust ID</td></tr>
        <tr><td>SMA</td><td>SMA1/2/0 (Reason)/Default</td><td>&nbsp;</td><td>Guarantor / Co-Obligant</td><td>Name</td><td>&nbsp;</td><td>Cust ID</td></tr>
        <tr><td>DCCO</td><td>Yes/No/NA</td><td>DD.MMM.YYYY</td><td>Guarantor / Co-Obligant</td><td>Name</td><td>&nbsp;</td><td>Cust ID</td></tr>
        <tr><td>Takeover</td><td>Yes/NO</td><td>DD.MMM.YYYY</td><td>Promoter's/ Directors</td><td>Name</td><td>&nbsp;</td><td>Cust ID</td></tr>
        <tr><td>Take over from</td><td>Bank Name / NA</td><td>&nbsp;</td><td>Promoter's/ Directors</td><td>Name</td><td>&nbsp;</td><td>Cust ID</td></tr>
        <tr><td>Reason For Takeover</td><td>&nbsp;</td><td>&nbsp;</td><td>Promoter's/ Directors</td><td>Name</td><td>&nbsp;</td><td>Cust ID</td></tr>
        <tr>
            <td></td>
            <td>
                <input type="button" value="Save" ng-click="save()" />
                <br />
                <div>{{error}}</div>
            </td>
        </tr>
    </tbody>
</table>